---
const { title, url, target } = Astro.props;
---

<div class="w-full">
  <a
    href={url}
    target={target}
    class="bg-cyan-500 w-full xl:w-[202px] h-[40px] rounded-xl text-white text-sm font-bold xl:font-extrabold flex justify-center items-center cursor-pointer hover:shadow-md transition-shadow duration-300"
  >
    {title}
  </a>
</div>
