---
const {title, url, target } = Astro.props;
---

<li>
	<a href={url} target={target}>
		<sapn class="text-xl xl:text-base font-bold text-gray-900 cursor-pointer hover:text-cyan-400 transition-colors duration-200">
			{title}
		</sapn>
	</a>
</li>
