---
const { title, url, target, key } = Astro.props;
---

<li
  class=`list-none rounded-md xl:rounded-none border-[1px] xl:border-0 xl:border-l-[1px] border-gray-900 h-full ${key === 3 ? 'bg-cyan-100' : ''} ${key ===2 ? 'bg-green-100' : ''}`
>
  <a href={url} target={target} class="h-full">
    <div
      class=`text-base font-light text-gray-900 cursor-pointer xl:px-2 px-3 py-2 xl:py-0`
    >
      {title}
    </div>
  </a>
</li>
